
.img 
{
    border-radius: 1rem;
    width: 100%;
    height: auto;
}

.EDetail-title
{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 2rem;
    color: rgb(61, 59, 59);
}

.EDetail-description
{
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem;
    color: rgba(61, 59, 59, 0.781);
}