@import '../../assets/styles/variables.scss';

.modal {
    border: 1px solid black;
    background-color: $primary-colors;

    padding: 10px;
border-radius: 5px;
    &__outside {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;

background-color: rgba(0,0,0,0.3);
z-index: 1;
}
&__button {

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FF5E02;
    padding: 0.8rem 3rem;
    border: 1px solid #FF5E02;
    border-radius: 20px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
}