

$primary-colors: #876BAB;
$secondary-colors: #5F4C78;



// used to reset the tab target :
.target {
    background-color: #876BAB;
}
  
// when login tab is selected :
.target-login {
    background-color: #a46bab;
    padding: 0 2rem;
}

// when register tab is selected : 
.target-register {
    background-color: #a46bab;
    padding: 0 2rem;
}

.login__button {
  text-transform: uppercase;
  color: #FFF;
  background-color: $secondary-colors;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  width: 30rem;
  text-align: center;
  border: 1px solid $secondary-colors;
  margin-top: 10rem;
  padding: 0.5rem;
}

.login__button:hover {
  color: $secondary-colors;
  border: 1px solid #FFF;
  background-color: #FFF;
  cursor: pointer;
}

//FORMS
.form-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 20px;
  position: relative;

  &__onglet {

    &__wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #876BAB;
      color: #FFF;
      text-transform: uppercase;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 600;
      font-size: 18px;
      height: 5rem;
      border-top-left-radius: 20px;
      border-top-right-radius: 10px;
    }

    &--left {
      width: 20rem;
      text-align: center;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 10px;
    }
  }

  &__form {
    background-color: #a46bab;
    width: 30rem;
    height: auto;
    padding: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}




.form-card__onglet {

  &--right {
    width: 20rem;
    text-align: center;
    height: 5rem;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFF;
  }

  &__form {
    background-color: $primary-colors;
  }

  &:hover {
    cursor: pointer;
  }
}

.form-register-password
{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.password-toggle
{
  margin-top: -1rem;
}
