@import url('./assets/styles/reset.scss');

$primary-colors: #876BAB;
$secondary-colors: #5F4C78;



#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

html,
body {
  height: 100%;
  width: 100%;
}


input {
  width: 30rem;
  height: 2rem;
  margin: 1rem 0 0 0;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  outline: none;
}



.history {
  display: flex;
  height: 100%;
  justify-content: center;

  flex-direction: column;
  text-align: center;
  gap: 15px;
  justify-content: flex-start;
  padding: 20px;
  &__title {
    font-size: 2rem;
  }
  & table {
    font-size: 1.5rem;
  }
  & th {
    border: 1px solid black;
  }
  & thead th {
    background-color: $secondary-colors;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
  }
}

.ERoomPage-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  gap: 5rem;
}

.ERoomDetailPage-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15rem;


  .ERoomDetailPage-wrapper
  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    margin-top: 5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 80rem;
    border-radius: 1rem;
  }
}