@import url('./assets/styles/reset.scss');

$primary-colors: #876BAB;

*{
  font-size: 3rem;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

html,
body {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #876BAB;

  &__logo {
    background-color: red;
  }

  &__modal {
    position: absolute;
    right: 5px;
    top: 35px;
    padding: 5px;
    background: gray;
    width: 300px;
  }
}


.header__button {
  margin: 10px;
  background-color: #FFF;
  text-transform: uppercase;
}

.footer-social-media {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 5px;
}

.facebook,
.instagram,
.twitter {
  background-size: contain;
  height: 35px;
  width: 35px;
  margin: 0px 5px;
}

.facebook {
  background-image: url(./img/facebook.png);
}

.instagram {
  background-image: url(./img/instagram.png);
}

.twitter {
  background-image: url(./img/twitter.png);
}


.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  background-color: #876BAB;
  width: 100%;
  align-items: center;
}

.footer__section {
  color: #FFF;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px 0px;
  font-size: 12px;
}

.footer__section>p {
  margin: 5px 0px;
}

.modal {
  border: 2px solid black;
  border-radius: 4px;
}

.form-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  // background: $primary-colors;
  padding: 10px;

  &__onglet {
    background-color: $primary-colors;
    ;

    &__wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $primary-colors;
      color: #FFF;
      text-transform: uppercase;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 600;
      font-size: 18px;
      width: 40rem;
      height: 5rem;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    &--left {
      width: 20rem;
  text-align: center;
  height: 5rem;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
    }
  &--right {
    width: 20rem;
  text-align: center;
  height: 5rem;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFF
  }
  }

  &__form {
    background-color: $primary-colors;
  }
}

// .form-card__onglet--left {
//   width: 20rem;
//   text-align: center;
//   height: 5rem;
//   border-top-left-radius: 10px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .form-card__onglet--right {
//   width: 20rem;
//   text-align: center;
//   height: 5rem;
//   border-top-right-radius: 10px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border: 1px solid #FFF
// }

.showroom {
  display: flex;
  justify-content: center;
  gap: 15px;
  }


  .homepage {
  text-align: center;
  display: flex;
  flex-direction: column;

  height: 100%;
  gap: 20px;
  padding: 10px;
  &__title {
    font-size: 4rem;
  }
  }

  .room {
    padding: 15px;
    border: 2px solid;

    border-radius: 10px;
    &__title {
    font-size: 3rem;
    &__wrapper {

    }
    }
    &__footer {
    display: flex;
    gap: 10px;
    font-size: 2rem;
    }
    &__desc {
    font-size: 2rem;
    }
    &__link {
      color: $primary-colors;
    }
    }