html {
  font-size: 62.5%;
}




.g-container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.g-container-sm {
  max-width: 540px;
}

.g-container-md {
  max-width: 720px;
}

.g-container-lg {
  max-width: 960px;
}

.g-container-xl {
  max-width: 1140px;
}

.g-container-xxl {
  max-width: 1320px;
}